*{margin:0px;padding:0px;}

body{background-color: lightblue;}

.App{
	width: 100%;
	background: white;
	width: 250px;
	margin: 100px auto 0 auto;
	color: white;

	box-shadow:
	0 5px 15px 1px rgba(0,0,0,0.6),
	0 0 200px 10px rgba(255,255,255,0.5);
}

.App li{
	list-style-type:  none;

}

.Category h3{
	font-size: 20px;
	line-height: 50px;
	padding: 0 10px;
	margin: px;
	background: grey;
	cursor: pointer;
	color:lightblue;

}
.icon{
	font-size: 16px;
	margin-right: 10px;

}

.Category ul li a{
	color: black;
	text-decoration: none;
	font-size: 18px;
	line-height: 30px;
	display: block;
	padding: 0 15px;
	transition: all 0.55s;
}

.Category ul li a:hover{
	background: #737373;
	border-left: 5px solid lightblue;
	transition: all 0.55s;
	color: white;
}	